{% extends "index.html" %}
{% block title %}Enter the recency, frequency and time{% endblock %}
{% block content %}
<h1 class="text-center">Donor information</h1>
<br>
<div class="row d-flex justify-content-center">
<div class="col-md-6">
    <form method="POST" action="{{ url_for('predict_form') }}">
        <div class="form-group row">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ field.label(class="col-form-label col-sm-4") }}
                {{ field(class="form-control col-sm-6") }}
            {% endfor %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-info">Predict</button>
        </div>
    </form>
</div>
</div>
<br>
<h5 class="text-center">Recency - months since last donation</h5>
<h5 class="text-center">Frequency - total number of donation</h5>
<h5 class="text-center">Time - months since first donation</h5>
{% endblock %}